* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
:root {
    --primary-color: #ff5b2e;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    color: #174ca0;
    transition: 0.2s ease-in-out;
}
.btn_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 4px 3px 10px -1px #bf290066;
}
.btn_hover {
    background: #fff;
    color: var(--primary-color);
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
.btn--primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.section_heading {
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 62px; /* 119.231% */
}
.section_desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
/* header */
.logo {
    padding-top: 15px;
}
.header {
    position: sticky;
    top: 0;
    z-index: 3;
    overflow: hidden;
    background: #fffaf5;
    margin-top: 22px;
}
.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_list {
    display: flex;
}
.header_action_link,
.navbar_link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 14px; /* 100% */
}
.navbar_link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}
.header_action_btn {
    margin: 5px 0;
    min-width: 118px;
    padding: 0 30px;
    --height: 50px;
    transition: 0.2s ease-in-out;
}
.header_action_btn:hover {
    border: 1px solid rgb(0, 9, 88, 0.7);
    font-weight: 600;
    color: #000958;
}

/* <!-- hero  --> */
.hero {
    margin: 74px 0;
}
.hero_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 121px;
}
.hero_media {
    display: flex;
    position: relative;
}
.hero_img_wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}
.hero_img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
    z-index: 1;
}
.hero_img_deco {
    position: absolute;
    z-index: -1;
}
.hero_img_deco-left {
    width: 230.96px;
    height: 230.96px;
    left: -58px;
    bottom: 10px;
}
.hero_img_deco-right {
    width: 50.35px;
    height: 100.83px;
    top: 16px;
    right: -43px;
}
.hero_img_wrap_small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    border: 2px solid #f7dddf;
    background: #faa7ad;
}

.hero_list_item {
    display: flex;
}
.hero_list_item_thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}
.hero_list_item_title {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.4;
    line-height: 1;
    color: #181e52;
}
.hero_list_item_skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}
.hero_list_item_info {
    margin-left: 10px;
}
.hero_list_item_separate {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #f2f2f2;
    border-radius: 99px;
}
.hero_list {
    position: absolute;
    left: 215px;
    bottom: -100px;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
    z-index: 1;
}
.hero_list_item:nth-of-type(2) .hero_list_item_thumb {
    background: #c6e2fa;
}
.hero_heading {
    margin-top: 72px;
    width: 517px;
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 76px; /* 115.152% */
}
.hero_desc {
    width: 391px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.hero_row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero_cta_btn {
    color: var(--primary-color);
    background: #fff;
    border-radius: 31px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    min-width: 189px;
    height: 60px;
    font-size: 1.6rem;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}
.hero_cta_btn:hover {
    background: var(--primary-color);
    color: #fff;
    opacity: 0.9;
}
.hero_link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 16px; /* 100% */
    transition: 0.2s ease-in-out;
}
.hero_link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
/* about */
.about {
    margin-top: 138px;
}
.about_inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}
.about_label {
    font-family: Sora, sans-serif;
    color: #5e6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 16px; /* 100% */
}

.about_heading {
    margin-top: 15px;
    width: 446px;
}
.about_desc {
    margin-top: 24px;
    width: 431px;
}
.about_checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    margin-top: 54px;
    gap: 36px;
}
.about_checkitem {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 18px; /* 100% */
}
.about_checkitem::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: var(--primary-color);
    border-radius: 4px;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about_checkitem::after {
    content: url(../img/icon/about_check.svg);
    position: absolute;
    top: 2px;
    left: 4px;
}
.about_media {
    position: relative;
}
.about_card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    height: 156px;
    padding: 36px 26px;
    border-radius: 10px;
    text-align: center;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    z-index: 0;
}
.about_card_title {
    margin-top: 31px;
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 42px; /* 100% */
}
.about_card_desc {
    margin-top: 14px;
    width: 83px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.about_card_decor {
    position: absolute;
    top: -39px;
    right: -32px;
}
.about_img {
    width: 494px;
    position: relative;
    margin-left: auto;
}
.about_img::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    z-index: -1;
}
.about_img_big {
    width: 450px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    z-index: 2;
}
.about_img_decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}
.about_img_bottom {
    margin-left: 0;
    width: 458px;
    border-radius: 18px;
    border: 2px 0px 0px 0px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px #bea58b2b;
}
.about_img_bottom::after {
    content: none;
}
.about_img_bottom_row {
    width: 100%;
}
.about_decor_img {
    position: absolute;
}
.about_decor_img:nth-child(1) {
    top: 13px;
    right: 64px;
}
.about_decor_img:nth-child(2) {
    top: -16px;
    right: 13px;
}
.about_decor_img:nth-child(3) {
    top: 33px;
    right: -21px;
}
.about_decor_img:nth-child(4) {
    top: 268px;
    right: -33px;
}
.about_decor_img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}
.about_decor_img:nth-child(6) {
    right: -24px;
    bottom: -40px;
}
.about_decor_img:nth-child(7) {
    right: -33px;
    bottom: -47px;
}
.about_decor_img:nth-child(8) {
    right: -42px;
    bottom: -55px;
}
.media_desc {
    margin: 24px 0 54px 0;
    width: 511px;
}
.about_tab_list::after,
.about_tab_item_active::after,
.tab_content_more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    opacity: 0.07;
    background: var(--primary-color);
    border-radius: 1px;
}
.about_tab_item_active::after {
    background: var(--primary-color);
    width: 95px;
    opacity: 1;
}
.about_tab_list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}
.about_tab_item {
    padding-bottom: 13px;
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 12px;
    cursor: pointer;
}
.about_tab_icon {
    width: 20px;
}
.about_tab_title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 18px; /* 100% */
}
.tab_content_item {
    margin-top: 36px;
    display: none;
}
.tab_content_desc {
    margin-bottom: 32px;
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.tab_content_item_active {
    display: block;
}
.tab_content_more:hover {
    color: var(--primary-color);
}
.tab_content_more {
    position: relative;
    display: inline-block;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 16px; /* 100% */
    padding-bottom: 5px;
    color: #174ca0;
    transition: 0.2s ease-in-out;
}
.tab_content_more::after {
    visibility: hidden;
}
.tab_content_more::after {
    max-width: 86px;
    height: 1.5px;
    background: var(--primary-color);
    opacity: 1;
}

.tab_content_more:hover::after {
    visibility: visible;
}
/* service  */
.service {
    margin-top: 190px;
    padding: 68px 0 100px 0;
    background: #fff6ed;
}
.service_top {
    text-align: center;
}
.service_top_desc {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 16px; /* 100% */
}
.service_body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 70px;
    column-gap: 65px;
}
.service_item + .service_item {
    margin-top: 24px;
}
.service_item {
    padding: 30px 22px 30px 28px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}
.service_item_heading {
    padding-left: 12px;
    position: relative;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px; /* 100% */
}
.service_item_heading_a {
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px; /* 100% */
}
.service_item_heading_a:hover {
    color: var(--primary-color);
}
.service_item_heading::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 2px;
    inset: 0 auto 0 0;
    border-radius: 1px;
    background: linear-gradient(var(--primary-color), #ffa187);
}
.service_item_desc {
    margin: 18px 0 24px;
    width: 244px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.service_item_more:hover {
    color: var(--primary-color);
}
.service_item_more {
    display: inline-flex;
    align-items: center;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 12px; /* 100% */
    transition: 0.2s ease-in-out;
}
.service_item_more_icon {
    margin-left: 5px;
    margin-top: 1px;
}
.service_media_img {
    width: 100%;
    position: relative;
    z-index: 1;
    display: block;
}
.service_body_media {
    position: relative;
    margin-top: 18px;
}
.service_body_media::after {
    position: absolute;
    content: "";
    left: 16px;
    right: 16px;
    bottom: 0;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    background: #9df1fb;
}
.service_media_ctn {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.service_ctn {
    min-width: 214px;
    color: #174ca0;
}
.service_ctn:hover {
    font-weight: 600;
    color: var(--primary-color);
    line-height: 16px; /* 100% */
    border-radius: 31px;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
/* staff */
.staff {
    padding: 130px 0;
}
.staff_item_img {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff_item_img::before {
    content: "";
    width: 100%;
    height: 92%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 130px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff_item:nth-child(2) .staff_item_img::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff_item:nth-child(3) .staff_item_img::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff_item:nth-child(4) .staff_item_img::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff_item_img::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.staff_item:nth-child(1) .staff_item_img::after {
    background-image: url(../img/saff_decor_01.svg);
}
.staff_item:nth-child(2) .staff_item_img::after {
    background-image: url(../img/saff_decor_02.svg);
    background-position: 0 20px;
}
.staff_item:nth-child(3) .staff_item_img::after {
    background-image: url(../img/saff_decor_03.svg);
}
.staff_item:nth-child(4) .staff_item_img::after {
    background-image: url(../img/saff_decor_04.svg);
    background-position: 0 20px;
}
.staff_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}
.staff_item_avt {
    position: relative;
    display: block;
    width: 100%;
    z-index: 2;
    border-radius: inherit;
}
.staff_item_title {
    text-align: center;
    margin-top: 34px;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
    color: #656689;
}
.staff_item_name {
    text-align: center;
    margin-top: 14px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}
.staff_ctn {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

/* pricing  */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}
.pricing_heading {
    text-align: center;
}
.pricing_desc {
    text-align: center;
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}
.pricing_switch_wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}
.pricing_switch_label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    width: 276px;
    height: 56px;
    border-radius: 99px;
    border: 1px solid #ff5b2e99;
    user-select: none;
    cursor: pointer;
}
.pricing_switch_label::after {
    content: "";
    position: absolute;
    width: 138px;
    height: 100%;
    border-radius: inherit;
    background: var(--primary-color);
    top: 0;
    left: 0;
    transition: left 1s ease, width 1s ease;
}
.pricing_switch_value {
    position: relative;
    z-index: 1;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 16px; /* 100% */
    color: var(--primary-color);
    color: #fff;
}
.pricing_switch_input:checked + .pricing_switch_label::after {
    left: auto;
    right: 0;
    width: 138px;
}
.pricing_switch_input:not(:checked)
    + .pricing_switch_label
    .pricing_switch_value:nth-of-type(2),
.pricing_switch_input:checked
    + .pricing_switch_label
    .pricing_switch_value:nth-of-type(1) {
    color: #fff;
    color: var(--primary-color);
}
.pricing_switch_inner {
    position: relative;
}
.pricing_saleoff {
    position: absolute;
    top: -10px;
    right: -112px;
}
.pricing_list {
    margin-top: 56px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}
.pricing_item {
    background: #fff;
    border-radius: 20px;
    padding: 30px 28px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.pricing_item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.pricing_item_type {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 12px; /* 100% */
}
.pricing_item_heading {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 18px; /* 100% */
}
.pricing_item_price {
    display: inline-block;
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 34px; /* 103.03% */
}
.pricing_item:nth-child(2) .pricing_item_btn ~ {
    background-color: var(--primary-color);
    color: #ffffff;
}
.pricing_item_btn {
    --height: 44px;

    margin-top: 22px;
    width: 100%;
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: var(--primary-color);
    background: transparent;
}
.pricing_item_btn:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}
.pricing_item_list {
    margin-top: 24px;
}
.pricing_item_item {
    display: flex;
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}
.pricing_item_item::before {
    content: url(../img/icon/pricing_check.svg);
    margin-right: 14px;
}
/* review  */
.review {
    padding: 104px 0 52px 0;
}
.review_inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}
.review_control {
    color: var(--primary-color);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.review_control:nth-of-type(2) {
    margin-left: auto;
}
.review_list {
    display: flex;
}
.review_control:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}
.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    flex-shrink: 0;
    width: 100%;
}
.review_item_media::before {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 82%;
    background: #ffda54;
    border-radius: inherit;
}
.review_item_media {
    position: relative;
    flex-shrink: 0;
    width: 274px;
    margin-top: -52px;
    border-radius: 137px;
}
.review-item_img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: inherit;
}
.review_item_quote {
    width: 553px;
    color: #000;
    font-size: 1.8rem;
    margin-top: 24px;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.review_item_author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    position: relative;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 18px; /* 100% */
}
.review_item_author::before {
    margin-right: 8px;
    display: inline-block;
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 1px;
}
.content_content {
    margin-top: 28px;
    overflow: hidden;
}
.review_dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.review_dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
.review_dot:hover {
    width: 24px;
    border-radius: 4px;
    background: var(--primary-color);
}
.blog {
    margin-top: 78px;
}
.blog_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog_info {
    margin-right: 74px;
    width: 350px;
}
.blog_desc {
    margin-top: 0;
}
.blog_item_img_wrap:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.blog_cta {
    margin-top: 24px;
    min-width: 182px;
}
.blog_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 54px;
    column-gap: 48px;
}
.blog_item_img_wrap {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    background: #90ccff;
    flex-shrink: 0;
    padding: 24px 0 0 36px;
}
.blog_item:nth-child(2) .blog_item_img_wrap {
    background: #ff997e;
}
.blog_item:nth-child(3) .blog_item_img_wrap {
    background: #5bd6e2;
}
.blog_item_img {
    display: block;
    margin-top: 25px;
    width: 100%;
    height: 296px;
    object-fit: cover;
}
.blog_item_time {
    color: #fff;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
}
.blog_item_info {
    padding: 28px 30px 0 0;
    display: block;
}
.blog_item_title {
    width: 340px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 34px;
}
.blog_item_desc {
    margin-top: 16px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.footer {
    margin-top: 131px;
    background: linear-gradient(to right, #fff6ed 43%, transparent 42%);
}
.footer_inner {
    display: flex;
}
.footer_left {
    background: #fff6ed;
    padding: 114px 0 148px;
    width: 42%;
}
.sub_form {
    margin: 40px 0 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 268px;
    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    background: #fff;
}
.sub_form_input {
    padding: 0 22px;
    height: 100%;
    border: none;
    outline: none;
    width: 100%;
    border-radius: inherit;
    color: #656689;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 14px; /* 116.667% */
}
.sub_form_submit {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
    color: var(--primary-color);
    outline: none;
    border: var(--primary-color) 1px solid;
    cursor: pointer;
    margin-right: -1px;
    box-shadow: 0px 15px 28px -7px #ff5b2e4d;
}
.sub_form_submit:hover {
    background: var(--primary-color);
    color: #fff;
}
.footer_heading {
    color: #000958;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 20px; /* 111.111% */
}
.social_list {
    display: flex;
    column-gap: 16px;
    margin-top: 16px;
}
.social_item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2;
}
.social_item:hover {
    transform: scale(1.3);
    opacity: 0.8;
}
.footer_right {
    flex: 1;
    padding: 52px 0 48px 0;
}
.footer_heading {
    color: #000958;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 20px; /* 111.111% */
}
.footer_row {
    margin-left: 129px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 58px 137px;
}
.footer_list {
    margin-top: 14px;
}
.footer_link {
    font-size: 1.4rem;
    line-height: 2;
    color: #656689;
}
.footer_link:hover {
    text-decoration: underline;
    color: var(--primary-color);
}
.footer_link_info {
    font-size: 1.4rem;
    line-height: 2;
    color: #656689;
}
.content {
    width: 1170px;
    margin: 0 auto;
}
.footer_copyright {
    margin: 52px 0 0 22px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.17;
    color: #656689;
    opacity: 0.5;
}
